.container {
  justify-content: center;
  align-items: center;

  .xsmall,
  .small {
    margin-right: 8px;
  }

  .large,
  .medium,
  .mid {
    margin-right: 24px;
  }
}

.text {
  font-weight: 500;
  font-size: rem(14px);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
