.table_wrapper {
  max-height: calc(100vh - 350px);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  * {
    font-size: rem(16);
    font-weight: medium;
    font-family: $font-paragraph;
  }

  :global(thead th:not(:nth-child(2))) {
    text-align: right;
  }

  thead th {
    line-height: rem(24px);
    color: $black-40-solid;
    position: sticky;
    top: 0;
    background-color: $primary-brand;
    z-index: 10;
  }

  tbody tr {
    border: none !important;

    &:hover, &:global(.isSelectedOrder) {
      background-color: $border-dark !important;
    }
  }

  tbody td {
    padding-top: rem(4);
    padding-bottom: rem(4);
    text-align: right;
    vertical-align: middle;
    color: $white;
    a{
      color: $white;
      &:hover{
        text-decoration: underline;
      }
    }
  }

  tbody td:first-of-type {
    width: rem(20);
  }
}

.buy_btn {
  display: flex;
  align-items: center;
  gap: rem(8);
  justify-content: flex-end;

  button {
    max-height: rem(30px);
  }
}

.checkbox {
  cursor: pointer;
}

.isChecked{
  svg rect{
    fill: #4f43e2;
  }
}